body {
  font-family = "Times New Roman";

}
#links{
  background-color: #FF0000;
  float: top;
  height: 50px;
  margin: 0px;
}
#links_list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  float: left;
}
a {
  display: block;
  width: 60px;
}
h1 {
  
}
p {
  
}
