body {
  background-color: white;
}
h1 {
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

}
h2 {
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  
}
#contactInfoBlock {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #b0e0e6;
}
ul.bullets {
    list-style-type: circle;
}
ul {
list-style-type: none;
}
