body {
  background-color: white;
}
h1 {
  text-align: center;
  padding: 5px 5px 5px 5px;
}
h2 {
  text-align: center;
}
#contactInfoBlock {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-color: #b0e0e6;
}
ul.bullets {
    list-style-type: circle;
}
ul {
list-style-type: none;
}
